<div class='container'>	
	<h1>Create Note</h1>
		
	<form id='create_note' action='/create' method='post'>
		Title: <input type='text' name='title'><br><br>
		Content: <input type='text' name='content'><br><br>
		<input type='submit' value='create note'>
	</form>
</div>